.GalleryContainer {
    display: flex;
    flex-direction: row;
    transition: transform 0.4s ease-out;
}

.GalleryArrow {
    display: inline-block;
}

.ArrowIsHidden {
    display: none;
}

img {
    height: 100%;
    width: 100%;
}

.Lightbox {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100%;
}

.Lightbox:before {
    content: '';
    position: absolute;
    z-index: 98;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.LightboxContainer > img {
    height: 80%;
    width: 80%;
}

